---
layout: default
---


<div class="jumbo carousel carousel-slider center " data-indicators="true">
 <!--<div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>-->
  <a class="carousel-item red white-text" style="background:url('img/poster1.jpg') no-repeat center ; background-size:cover" href="#one!">
    <h1 id="title">First Panel</h1>
    <p class="white-text" id="tag">This is your first panel</p>
  </a>
  <a class="carousel-item amber white-text" style="background:url('img/poster2.jpg') no-repeat center ;  background-size:cover" href="#two!">
      <h1 id="title">First Panel</h1>
      <p class="white-text" id="tag">This is your first panel</p>
  </a>
  <a class="carousel-item green white-text" href="#three!">
      <h1 id="title">First Panel</h1>
      <p class="white-text" id="tag">This is your first panel</p>
  </a>
  <a class="carousel-item blue white-text" href="#four!">
      <h1 id="title">First Panel</h1>
      <p class="white-text" id="tag">This is your first panel</p>
  </a>
</div>

<!--
<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

</div>-->
<br>
<div class="row">
  <div class="col l8 m8 s10 offset-s2 offset-l1 offset-m1">
      {% for post in site.posts %}
        {% if forloop.index == 1 %}
        <div class="col s10 m6 l8 " ><div class="capsule">
            <div class="capsule-head" style="height:200px;background:url('images/{{ post.headline }}') no-repeat center ;background-size:cover;">
              
            </div>
            <div class="capsule-content">
                <a class="black-text" href="{{ site.baseurl }}{{ post.url }}">
                <h4>{{ post.title }}</h4>
                <p>lorem ipsum bla bla {{forloop.index}}</p>
                </a>
                <div class="capsule-footer">
                      by it's me mario
                      <span class="right"> {{ post.tag }}</span>
                  <br>
                  {{ page.date | date: "%B %e, %Y" }}
                </div>

            </div>
        </div></div>
        {% else %}
          <div class="col s10 m6 l4 " ><div class="capsule">
              <div class="capsule-head" style="height:200px;background:url('images/{{ post.headline }}') no-repeat center ;background-size:cover ;">
            
              </div>
              <div class="capsule-content">
                  <a class="black-text" href="{{ site.baseurl }}{{ post.url }}">
                  <h4>{{ post.title }}</h4>
                  <p>lorem ipsum bla bla {{forloop.index}}</p>
                  </a>
                  <div class="capsule-footer">
                      by it's me mario
                      <span class="right"> {{ post.tag }}</span>
                  <br>
                  {{ page.date | date: "%B %e, %Y" }}
                  </div>

              </div>
          </div></div>
          {% endif %}
        {% endfor %}
</div>

  <div class="col l2 m2   s10">
    <h5 class="side-title">TAGS</h5>
      <div class="chip"><a href="#">App</a></div>
       <div class="chip"><a href="#">Web</a></div>
  </div>
  
 
  
</div>





